@import url("./reset.css");
@import url("./variables.css");

/* About us */ 
.about {
  display: flex;
  flex-direction: column;
  margin: 16px 40px;
}
  
.about__image {
  width: 100%;
}
  
.about__text {
  background-color: #EBE5FC;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 16px;
  margin-top: 16px;
  position: relative;
}
  
.about__text a {
  position: absolute;
  right: 40px;
  bottom: 8px;
  text-decoration: none;
}

@media (max-width: 719px) {
  
  .about {
    margin: 8px;
  }

  .about__text {
    padding-bottom: 80px;
  }

  .about__text a {
    left: 50%;
    transform:translateX(-50%);
    right: auto;
    background-color: #000276;
    color: #EBE5FC;
  }
}

@media (min-width: 720px) {
  .about {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin: 24px 40px;
  }
  
  .about > * {
    flex: 1;
  }
  
  .about__image {
    width: 100%;
  }
  
  .about__text {
    padding: 40px;
  }
  }