@import url("./reset.css");
@import url("./variables.css");

/* Batman/product spesific page */
.batman {
    display: flex;
    flex-direction: column;
    margin: 16px auto;
    justify-content: center;
}
  
.batman__image {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

.batman__image--big {
    max-height: 400px;
    max-width: 264px;
}
  
.batman__image-trailer {
    background-color: #EBE5FC;
    color: #000276;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 20px;
    margin: 16px auto 0;
}
  
.batman__image-trailer:hover {
    background-color: #000276;
    color: #EBE5FC;
}
  
.batman__text {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-width: 264px;
    max-width: 95%;
    margin: 0 auto;
}
  
.add-to-cart {
    text-decoration: none;
    background-color: #000276;
    color: #EBE5FC;
    margin: 16px auto;
}

.batman__text__price {
    display: flex;
    flex-direction: column;
    text-align: center;
}
  
.go-back-batman {
    display: flex;
    justify-content: center;
    margin: 16px auto;
    max-width: 300px;
    text-decoration: none;
}

@media (min-width: 720px) {
    .batman {
        display: flex;
        flex-direction: row;
        margin: 16px auto;
        background-color: #EBE5FC;
        border-radius: 20px;
        padding: 16px;
        max-width: 1000px;
    }

    .batman__image {
        margin: 16px 8px;
    }

    .batman__text {
        margin: 0px 8px;
    }

    .batman__text__price {
        margin: auto;
        align-self: flex-end;
        text-align: center;
    }
}