@import url("./reset.css");
@import url("./variables.css");

/* Cart*/

.cart {
    min-width: 350px;
    width: 95%;
    max-width: 720px;
}

.order-summary__details {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 16px;
    background-color: #EBE5FC;
    color: #000276;
}

.order-summary__image {
    max-width: 160px;
}

.billing__details, .order-summary__details {
    box-sizing: border-box;
    text-align: left;
    padding: 8px;
    margin: 16px auto;
}

.billing__details, h2 {
    color: #000276;
    background-color: #EBE5FC;
}
  
input, 
select, 
textarea{
    border: 1px solid #000276;
    color: #EBE5FC;
    margin: 0;
    padding: 16px;
    width: 100%;
    border-radius: 20px;
}

fieldset {
    padding: 24px;
}
  
.submit-order {
    background-color: #000276;
    color: #EBE5FC;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 4px 16px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin: 16px auto;
}
  
.submit-order:hover {
    background-color: #EBE5FC;
    color: #000276;
}

@media (min-width: 720px) {
    .cart {
        display: flex;
        flex-direction: row-reverse;
        gap: 16px;
        width: 100%;
        margin: 16px;
    }

    .order-summary, .billing {
        width: 50%;
      }

      
      .billing__details, .order-summary__details {
        padding: 20px;
        border-radius: 20px;
      }
}