@import url("./reset.css");
@import url("./variables.css");

/* Cart*/

.cart-details, .order-summary {
    box-sizing: border-box;
    min-width: 375px;
    max-width: 1000px;
    background-color: #000276;
    color: #EBE5FC;
    text-align: left;
    padding: 40px;
    margin: 16px 0;
    border-radius: 8%;
    position: relative;
}
  
input, 
select, 
textarea{
    border: 1px solid #000276;
    color: #EBE5FC;
    margin: 0;
    padding: 8px;
    width: fit-content;
    border-radius: 8%;
}
  
textarea {
    height: 100px;
}
  
.order-summary__image {
    max-width: 160px;
}
  
.order-summary {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 16px;
    background-color: #EBE5FC;
    color: #000276;
}
  
.submit-order{
    background-color: #EBE5FC;
    color: #000276;
    position:absolute;
    padding: 4px 16px;
    right: 40px;
    bottom: 8px;
    border-radius: 8%;
}
  
.submit-order:hover {
    background-color: #000276;
    color:#EBE5FC;
}

@media (max-width: 719px) {    
    .order-summary, .cart-details {
      padding: 8px;
      border-radius: 0;
    }
}