/* Use import to split up your CSS into manageable chunks */
@import url("./reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./variables.css");
/* Feel free to add as many of these imports as you need */


/* Text */
h1, h2, h3, h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  background-color: #000276;
  color: #EBE5FC;
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  background-color: #EBE5FC;
  color: #000276;
}

h3 {
  font-size: 1rem;
  background-color: #EBE5FC;
  color: #000276;
}

body{
  font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
  font-size: 1rem;
  color: #000276;
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

/* Navigation */
nav,
#menue-checkbox {
  display: none;
}

#menue-checkbox:checked ~ nav {
  display: block
}

header {
  color: #EBE5FC;
  background-color: #000276;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  position: relative;
  display: flex;
  justify-content: right;
  padding: 0px 20px;
}

.nav-bar-logo {
  padding: 0px;
}

nav {
  position: absolute;
  background-color: #000276;
  color: #efe5fc;
  right: 0px;
  margin-top: 24px;
}
  
nav a {
  display: block;
  text-decoration: none;
  color: #efe5fc;
  padding: 10px 20px;
  font-size: 1rem;
}

nav a:hover {
  text-decoration: underline;
}

/* footer */

footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #EBE5FC;
  background-color: #000276;
  width: 100%;
  text-align: center;
  padding: 16px;
}

/* Homepage */

/* IF LOGO IMAGE IS DEFINED AS NOT ESSENTIAL CONTENT!
.welcome {
  background-image: url(../assets/images/SquareEyes_Logo1.png);
  max-width: 375px;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 20vh;
  background-position-x: center;
  position: relative;
  margin: 16px;
} */

.logo_image {
  width: 100%;
  object-fit: fill;
  object-position: center;
  margin: 16px 0px;
}

.welcome{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.welcome a {
  background-color: #000276;
  color:#EBE5FC;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 40px;
  border-radius: 20cap;
}

.welcome a:hover {
  background-color: #EBE5FC;
  color:#000276;
}

.topthree {
  text-align: center;
  padding: 16px;
  margin-top: 16px;
}

.top_three_images {
  height: 390px;
  width: 221px;
}

.topthree_imagelist p {
  background-color: #EBE5FC;
  color: #000276;
  font-weight: bold;
}

.topthree_imagelist {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2;
}

/* Contact us */
.contact {
  display: flex;
  flex-direction:column;
  align-items: center;
  text-align: center;
  max-width: 1000px;
  margin: 24px auto;
}

.contact section {
  padding: 24px;
}

.contact-form {
  box-sizing: border-box;
  width: 500px;
  background-color: #000276;
  color: #EBE5FC;
  text-align: left;
  padding: 40px;
  border-radius: 8%;
}

input, 
select, 
textarea{
  border: 1px, solid, #000276;
  color: #EBE5FC;
  margin: 0;
  padding: 0;
  width: fit-content;
}

textarea {
  height: 100px;
}

/* About us */ 
.about {
  display: flex;
  flex-direction: column;
  margin: 16px 40px;
}

.about__image {
  width: 100%;
}

.about__text {
  background-color: #EBE5FC;
  box-sizing: border-box;
  padding: 16px;
  margin-top: 16px;
}

/* Product page */
.dropdown h2 {
  text-align: center;
  padding: 8px;
}

select {  
  display: flex;
  justify-content: center;
  appearance: none; /* remove default appearance set by the browser */ /*https://sentry.io/answers/css-style-select-dropdown/*/
  outline: none; /* remove the outline shown on focus */
  cursor: pointer; /* change the mouse cursor icon */
  color: #000276;  /* text color */
  background-color: #EBE5FC;
  border-color: #EBE5FC;
  border-radius: 20px;  /* round the border corners */
  padding: 8px 60px;
  font-family: verdana;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin: 0px auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4,1fr);
  gap: 16px;
  margin: 16px 40px;
  text-align: center;
}

.container img {
  width: 100%;
}

.container div {
  background: #EBE5FC;
}

.movielist {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.cta_button {
  background-color: #000276;
  color: #EBE5FC;
  border-radius: 20cap;
  padding: 8px 60px;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
}

.cta_button:hover {
  background-color: #EBE5FC;
  color: #000276;
}

/* CTA buttons*/
.go-back {
  background-color: #EBE5FC;
  color: #000276;
  border-radius: 20px;
}

/* Product spesific */
.batman_big_image {
  max-height: 400px;
  max-width: 264px;
}

/* Forms */
.form__input {
  display: block;
}

/* Screens */
@media (max-width: 719px) {
  .nav-bar-logo {
    display: none;
  }

  .dropdown-desktop {
    display: none;
  }
}

@media (min-width: 720px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  
  .hamburger-icon {
    display: none;
  }


  nav {
    display: block;
    position: static;
  }

  nav a {
    display: inline-block;
  }

  .logo_image {
    max-width: 720px;
    object-position: center;
    margin: 16px auto;
  }

  .topthree {
    background-color: #EBE5FC;
  }

  .topthree_imagelist {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 2;
    gap: 10px;
    max-width: 1000px;
    margin: 16px auto;
  }

  .dropdown-mobile {
    display: none;
  }

  .dropdown-desktop {
    background-color: #EBE5FC;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 56px;
    max-width: 794px;
    margin: auto;
  }

  .container img {
    width: 100%;
    grid-row: 1 /span 2;
  }

  .movielist_details {
    grid-row: 1 /span 2;
  }
  
  .movielist {
    display: grid;
    grid-template-columns: 170px 145px;
    grid-template-rows: auto;
    gap: 16px;
    padding: 16px;
  }

  .cta_button {
    background-color: #000276;
    color: #EBE5FC;
    border-radius: 20cap;
    padding: 8px 24px;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
  }

  .about {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin: 24px 40px;
  }
  
  .about > * {
    flex: 1;
  }
  
  .about__image {
    width: 100%;
  }
  
  .about__text {
    padding: 40px;
  }
}

