/* Use import to split up your CSS into manageable chunks */
@import url("./reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./variables.css");
/* Feel free to add as many of these imports as you need */

/* Navigation */

nav,
#menue-checkbox {
  display: none;
}

#menue-checkbox:checked ~ nav {
  display: block
}

header {
  position: relative;
  color: #EBE5FC;
  background-color: #000276;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  padding: 20px;
}

nav {
  position: absolute;
  background-color: #000276;
  color: #efe5fc;
  left: 0px;
}
  
nav a {
  display: block;
  text-decoration: none;
  color: #efe5fc;
  padding: 10px 20px;
  font-size: 1rem;
}

nav a:hover {
  text-decoration: underline;
}

@media (min-width: 600px) {
  nav {
    display: block;
    position: static;
  }
  .hamburger-icon {
    display: none;
  }
  nav a {
    display: inline-block;
  }
}

@media (max-width: 599px) {
  .nav-bar-logo {
    display: none;
  }
}

/* footer */

footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #EBE5FC;
  background-color: #000276;
  width: 100%;
  text-align: center;
}

/* Text */
h1, h2, h3, h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  background-color: #000276;
  color: #EBE5FC;
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1rem;
  background-color: #EBE5FC;
  color: #000276;
}

body{
  font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
  font-size: 1rem;
  color: #000276;
}

/* Homepage */
.topthree{
  background-color: #EBE5FC;
  text-align: center;
}

.topthree_imagelist {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Contact us */
.contact {
  display: flex;
  flex-direction:column;
  align-items: center;
  text-align: center;
  max-width: 1000px;
  margin: 24px auto;
}

.contact section {
  padding: 24px;
}

.contact-form {
  box-sizing: border-box;
  width: 500px;
  background-color: #000276;
  color: #EBE5FC;
  text-align: left;
  padding: 40px;
  border-radius: 8%;
}

input, 
select, 
textarea{
  border: 1px, solid, #000276;
  color: #EBE5FC;
  margin: 0;
  padding: 0;
  width: fit-content;
}

textarea {
  height: 100px;
}

/* About us */ 
.about {
  display: flex;
  max-width: 1000px;
  margin: 24px auto;
}

.about > * {
  flex: 1;
}

.about__image {
  width: 100%;
}

.about__text {
  background-color: #EBE5FC;
  box-sizing: border-box;
  border-radius: 8%;
  padding: 40px;
}

/* Product page */

.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr auto;
  grid-gap: 40px;
  min-height: 400px;
}

.container div {
  background: #EBE5FC
}

/* CTA buttons*/
.cta_button {
  background-color: #000276;
  color: #EBE5FC;
  border-radius: 20px;
  padding: 8px 24px;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.go-back {
  background-color: #EBE5FC;
  color: #000276;
  border-radius: 20px;
}

/* Images */
.logo_image {
  width: 50%;
  height: auto;
}

.top_three_images {
  height: 390px;
  width: 221px;
}

.movielist_images {
  max-height: 300px;
  max-width: 170px;
}

.batman_big_image {
  max-height: 400px;
  max-width: 264px;
}

/* Forms */
.form__input {
  display: block;
}